<mat-toolbar color="primary">
  <img
    src="assets/svg/logoipsum.svg"
    alt="Logotipo"
    style="object-fit: contain !important"
    class="filter-white"
  />
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <span class="spacer"></span>

  <!-- <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    <button mat-icon-button>
      @if (themeService.themeSignal() === 'dark'){
      <mat-icon>bedtime</mat-icon>
      } @else {
      <mat-icon>brightness_5</mat-icon>
      }
    </button> -->
  <button
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon fontIcon="more_vert"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon fontIcon="logout"></mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav
    [ngClass]="!isCollapsed ? 'collapsed' : 'expand'"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <app-sidebar [menu]="menu"></app-sidebar>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>
    <p>asdkfjakjsdhf</p>

  </mat-sidenav>
  <mat-sidenav-content>    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<mat-sidenav-container class="">
  <mat-sidenav #sidenav mode="push" class="mat-toolbar-fixed sidenav-toolbar">
    <mat-toolbar class="sidenav-toolbar" style="position: fixed">
      <span>menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    </mat-toolbar>
    <app-sidebar
      [menu]="menu"
      class="mat-toolbar-fixed main-content sidenav-toolbar"
      style="height: -webkit-fill-available !important"
    ></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="mat-toolbar-head-fixed toolbar mat-elevation-z6"
    >
      <img
        src="assets/svg/logoipsum.svg"
        alt="Logotipo"
        style="object-fit: contain !important"
        class="filter-white"
      />
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
      <span class="spacer"></span>

      <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
        <button mat-icon-button>
          @if (themeService.themeSignal() === 'dark'){
          <mat-icon>bedtime</mat-icon>
          } @else {
          <mat-icon>brightness_5</mat-icon>
          }
        </button>
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon fontIcon="more_vert"></mat-icon>
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>-->
